.post {
}

.details {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
}

.author {
  font-weight: 600;
  font-size: 1.1rem;
}

.date {
  font-weight: 500;
  font-size: 1rem;
  font-style: italic;
  color: var(--text-dark-light);
}

.body {
  font-weight: 400;
  font-size: 1.1rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 55ch;
  margin-bottom: 30px;
}

.avatar {
  background-color: var(--text-dark);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.img {
  width: 100%;
  display: block;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comments-list {
  list-style: none;
}
