.intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-weight: 400;
  font-size: 1.6rem;
  overflow-wrap: break-word;
  display: inline;
}

.desc {
  font-size: inherit;
  font-size: 1.3rem;
}

.name {
  font-weight: var(--font-weight-bold);
  font-style: italic;
  color: var(--highlight-color);
}

.link {
  font-size: 1.3rem;
  transition: color 250ms ease-in;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  padding-bottom: 4px;
}

.link:link,
.link:visited {
  color: var(--link-dark);
}

.link:hover {
  transition: color 500ms ease-out;
}

.link:hover,
.link:active {
  color: var(--link-vivid);
}

@media (max-width: 37.5em) {
}
