.intro {
}

.heading {
  font-weight: 400;
  font-size: 3rem;
}

.desc {
  font-size: 1.9rem;
}

.name {
  font-weight: 600;
  font-style: italic;
  color: var(--text-darker);
}

.link:link,
.link:visited {
  text-decoration: none;
  color: var(--link-dark);
}

.link:hover,
.link:active {
  color: var(--link-vivid);
}

@media (max-width: 37.5em) {
  .heading {
    font-size: 2.7rem;
  }

  .desc,
  .link {
    font-size: 1.8rem;
  }
}
