.footer {
  justify-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  min-width: 100%;

  margin-top: auto;
}

.logo {
  font-weight: 500;
  font-size: 3.5rem;
}

.nav {
  margin-left: auto;
}

.list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: purple;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}
