.post {
  list-style: none;
  color: var(--text-light);
}

.title {
  font-weight: 600;
  font-size: 2.2rem;
}

.body {
  font-size: 1.6rem;
}

.link {
  text-decoration: none;
  color: var(--text-dark);
}
