.post {
  list-style: none;
}

.title {
  font-weight: 600;
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
}

.body {
  font-size: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}
