:root {
  --background-color: hsl(220deg 5% 99%);
  --text-dark: hsl(220deg 20% 10%);
  --text-light: hsl(220deg 10% 50%);
  --button-color: hsl(35deg 100% 40%);
  --button-text: hsl(35deg 10% 99%);
  --link-dark: hsl(220deg 50% 50%);
  --link-vivid: hsl(230deg 70% 50%);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
  font-size: 62.5%;
}

body {
  /* 4. Increase line-height */
  line-height: 1.6;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Reddit Sans", sans-serif;
  font-size: 1.8rem;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-dark);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
}
